@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";


:root {
  /* 🎨 Light Mode */
  --color-bg: #f6f9fc;
  --color-surface: #f5f2eeff;
  
  --color-text: #333333;
  --color-muted: #3e3f41;

  /* Cards */
  --color-card-primary: #fcfbfb;
  --color-card-primary-text: #3f3838;
  --color-card-secondary: #fbfcfd;
  --color-card-secondary-text: #333333;

  /* Buttons */
  --color-primary: #ff5400;
  --color-primary-text: #fdfbfb;
  --color-primary-hover: #3f3e3c;          /* Hover primary */
  --color-primary-hover-text: #fdfbfb;     /* Texto sobre hover primary */

  --color-secondary: #f8f7f1;
  --color-secondary-text: #e7e1e1;
  --color-secondary-hover: #afabab;        /* Hover secondary */
  --color-secondary-hover-text: #333333;
  --color-outline: #eb9d70;

  --color-dropdown: #f2f8d6;

  /* Accents */
  --color-accent: #3d3f3e;
  --color-progress: #ff5400;
  --color-progress-text: #131212;
  --color-terciary: rgb(241, 240, 224);
  --color-bg-hover: #e9c4b2;

  --font-heading: var(--font-ubuntu);
  --font-body: var(--font-inter);
}

.dark {
  /* 🌙 Dark Mode */
  --color-bg: #1a1e2e;
  --color-surface: #252a3a;
  
  --color-text: #e2e8f0;
  --color-muted: #94a3b8;

  /* Cards */
  --color-card-primary: #1e293b;
  --color-card-primary-text: #e2e8f0;
  --color-card-secondary: #1e293b;
  --color-card-secondary-text: #e2e8f0;

  /* Buttons */
  --color-primary: #f59e0b;
  --color-primary-text: #1e293b;
  --color-primary-hover: #fbbf24;
  --color-primary-hover-text: #1e293b;

  --color-secondary: #334155;
  --color-secondary-text: #e2e8f0;
  --color-secondary-hover: #475569;
  --color-secondary-hover-text: #ffffff;
  --color-outline: #f2f3b3;

  --color-dropdown: #1e293b;

  /* Accents */
  --color-accent: #f59e0b;
  --color-terciary: #1e293b;
  --color-progress: #f59e0b;
  --color-progress-text: #1e293b;
  --color-bg-hover: #e9c4b2;

  --font-heading: var(--font-ubuntu);
  --font-body: var(--font-inter);
}

/* 🖋️ Tipografía global */
h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  font-weight: 700;
}

body, p, span, input, button {
  font-family: var(--font-body);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  transition: background-color 0.2s, color 0.2s;
}
.btn-primary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-hover-text);
}